body
{
  overflow-y: hidden;
  margin-bottom: 56%;
  background: none transparent;
}

@font-face
{
  font-family:Chewy;
  src: url(../../../Shared/fonts/Chewy.ttf);
}
@font-face
{
 font-family:Roboto;
 src: url(../../../Shared/fonts/Roboto-Regular.ttf);
}

.Skin2 img {
    display: block;
    float: left;
    clear: none;
    position: absolute;
    height: auto;

}

.Skin2 {
    width: 98%;
    height: 100%;
    z-index: 0;
    bottom: 0;
    float: left;
    position: relative !important;
    display: block;
    clear: none;


}


/*DISEÑO ELEMETOS JUEGO*/


.alerta
{
    
    z-index: 1;
    position: absolute;
    width: 39%;
    right: 35%;
    bottom: 36.5%;
}



.botonevaluar
{
    width: 17%;
    bottom: 23%;
    left: 5%;
    cursor:url(../../../images/hand.cur) , auto!important;
}

.cajavalor, .cajavalora{
    position: absolute;
    width: 5%;
    height: 9.5%;
    background-position: 4px;
    background-repeat: no-repeat;
}


#d1
{   
    right: 21.9%;
    top: 37%;    
}
#d2
{    
    right: 16%;
    top: 37%;    
}
#d3
{    
    right: 10.2%;
    top: 37%;    
}
#d4
{
    right: 22%;
    bottom: 38.6%;
    
}
#d5
{    
    right: 16%;
    bottom: 38.5%;
    
}
#d6
{
    right: 10.2%;
    bottom: 38.5%;   
}
#d7
{  
     right: 22%;
    bottom: 27%;    
}
#d8
{
    right: 16%;
    bottom: 27%;    
}
#d9
{
    right: 10.2%;
    bottom: 27%;    
}

.divinstruccion
{
    position: absolute;
    width: 37%;
    text-align: left;   
    padding: 2%;
    left: 39%;
    top: 7%;
    background: rgba(255,255,255, 1.6);
    font-family: Roboto;
      border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 0px solid #000000;


}

.divinstruccionjuego
{
    position: absolute;
    width: 46%;
    text-align: left;
    background: rgba(255,255,255, 0.6);
    padding: 1%;
    left: 39%;
    top:5%;
    font-family: Roboto;
   border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 0px solid #000000;
}

.divBotonComenzar
{
    width: 19%;
    bottom: 2%;
    right: 12%;
    cursor:url(../../../images/hand.cur) , auto!important;

}


.divgeneral{
    width: 7%;
    height: 34px;
    z-index: 1;
    position: absolute;
     border-radius: 86%;
}



.iconoSonido
{
    left: 33%;
    top: 13%;
    z-index: 1;
    cursor:url(../../../images/hand.cur) , auto!important;
}

.iconoSonido2
{
    left: 33%;
    top: 8%;
    z-index: 1;
    cursor:url(../../../images/hand.cur) , auto!important;
}

.ivisonriendo
{
    width: 13%;
    left: 79%;
    top: 8%;
}

.mensaje{
    z-index: 1;
    position: absolute;
    top: 27%;
    right: 35%;
}

.respuesta
{
    display: block;
    top: 28%;
    width: 34%;
    left: 23%;
}

.respuesta1,.respuesta2{
    width: 16%;
    right: 10.8%;    
    z-index: 10;
}

.respuesta1{
    top: 39%;
}

.respuesta2{   
    top: 63%;
}

.respuestafin
{    
    z-index: 1;
    position: absolute;
    width: 24%;
    right: 33%;
    bottom: 28%;
    cursor:url(../../../images/hand.cur) , auto!important;
}


.resultados
{
    width: 49%;
    left: 36%;
    top: 26%;
}


.titulojuego
{
    width: 23%;
    left: 5%;
    top: 4%;
}


.vidas3
{
    width: 19%;
    top: 32%;
    left: 3%;
}

/*DISEÑO UNICO JUEGO*/
.cuadroarrastra
{
    width: 73%;
    bottom: 4%;
    left: 23%;
    animation: 1.5s pulse infinite !important;
}

.resta
{
        width: 63%;
    left: 28%;
    top: 23%;
}

.numero1,.numero2,.numero3,.numero4,.numero5,.numero6,.numero7,.numero8,.numero9,.numero0
{
    bottom: 8.5%;
    width: 3.6%;
}

.numero1
{
    left: 25%;
}

.numero2
{
    left: 31%;
}

.numero3
{
    left: 38%;
}

.numero4
{
    left: 45.5%;
}

.numero5
{
    left: 53%;
}

.numero6
{
    right: 35.5%;
}


.numero7
{
    right: 29%;
}

.numero8
{
    right: 22%;
}

.numero9
{
    right: 15%;
}

.numero0
{
    right: 8%;
}