body
{
  overflow-y: hidden;
  margin-bottom: 56%;
  background: none transparent;
}

@font-face
{
  font-family:Chewy;
  src: url(../../../fonts/Chewy.ttf);
}
@font-face
{
 font-family:Roboto;
 src: url(../../../fonts/Roboto-Regular.ttf);
}



.Skin2 img {
    display: block;
    float: left;
    clear: none;
    position: absolute;
    height: auto;

}

.Skin2 {
    width: 99%;
    height: 100%;
    z-index: 0;
    bottom: 0;
    float: left;
    position: relative !important;
    display: block;
    clear: none;


}

/*DISEÑO ELEMETOS JUEGO*/

.botonevaluar
{
    width: 17%;
    bottom: 18%;
    left: 4.5%;
    cursor:url(../../../images/hand.cur) , auto!important;
}



.divinstruccion
{
    position: absolute;
    width: 37%;
    text-align: left;   
    padding: 2%;
    left: 39%;
    top: 7%;
    background: rgba(255,255,255, 1.6);
    font-family: Roboto;
      border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 0px solid #000000;


}

.divinstruccionjuego
{
    position: absolute;
    width: 46%;
    text-align: left;
    background: rgba(255,255,255, 0.6);
    padding: 1%;
    left: 39%;
    top:5%;
    font-family: Roboto;
   border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 0px solid #000000;
}

.divBotonComenzar
{
    width: 19%;
    bottom: 2%;
    right: 12%;
    cursor:url(../../../images/hand.cur) , auto!important;

}
.divgeneral{
    width: 7%;
    height: 34px;
    z-index: 1;
    position: absolute;
     border-radius: 86%;
}

.iconoSonido
{
    left: 33%;
    top: 11%;
    z-index: 1;
    cursor:url(../../../images/hand.cur) , auto!important;
}

.iconoSonido2
{
    left: 33%;
    top: 6%;
    z-index: 1;
    cursor:url(../../../images/hand.cur) , auto!important;
}

.ivisonriendo
{
    width: 13%;
    left: 79%;
    top: 8%;
}



.mensaje{
    z-index: 1;
    position: absolute;
    top: 29%;
    right: 34%;
}


.respuesta
{
    display: block;
    top: 28%;
    width: 34%;
    left: 23%;
}

.respuestafin
{
    z-index: 1;
    position: absolute;
    width: 22%;
    right: 35%;
    bottom: 20%;
    cursor:url(../../../images/hand.cur) , auto!important;
}


.resultados
{
    width: 49%;
    left: 36%;
    top: 26%;
}


.titulojuego
{
    width: 23%;
    left: 5%;
    top: 4%;
}


.vidas3
{
    width: 19%;
    top: 32%;
    left: 3%;
}

/*DISEÑO  JUEGO*/
.pos1, .pos2, .resultado
{
    width: 15%;
    top: 38%;
}

.pos1{   
    left: 23%;
}

.pos2{
    left: 43%;
}

.marca{

    width: 12%;
    top: 33%;
    right: 5%;
}

.resultado{
    right: 15%;
}

.opcion1,.opcion3
{
    width: 15%;
    top: 68%;
}

.opcion1{

     left: 60%;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform:rotate(-20deg);
}

.opcion2{

    width: 15%;
    top: 69%;
    right: 15%;
    z-index: 3;
}

.opcion3{

    right: 5%;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
}

.signoigual{

    top: 49%;
    right: 37%;
}

.signomas{

    top: 48%;
    left: 38%;
}

.numeros{
    font-family: Chewy;
    font-size: 23px !important;
}

.pregunta{

    position: absolute;
    width: 46%;
    color: #FFF !important;
    text-align: left;
    background: rgba(101, 46, 134, 0.48);
    padding: 2%;
    left: 34%;
    top: 18%;
    font-size: 17px;
    font-family: Roboto;
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 0px solid white;
}


