body
{
  overflow-y: hidden;
  margin-bottom: 56%;
  background: none transparent;
}

@font-face
{
  font-family:Chewy;
  src: url(../../../../../Shared/fonts/Chewy.ttf);
}
@font-face
{
 font-family:Roboto;
 src: url(../../../../../Shared/fonts/Roboto-Regular.ttf);
}

.Skin2 img {
    display: block;
    float: left;
    clear: none;
    position: absolute;
    height: auto;

}

.Skin2 {
    width: 99%;
    height: 100%;
    z-index: 0;
    bottom: 0;
    float: left;
    position: relative !important;
    display: block;
    clear: none;


}


/*DISEÑO ELEMETOS JUEGO*/


.alerta{    
    z-index: 1;
    position: absolute;
    width: 44%;
    right: 22%;
    bottom: 61%;
}



.botonevaluar
{
    width: 17%;
    bottom: 23%;
    left: 5%;
    cursor:url(../../../../Adicion-Sustraccion/images/hand.cur) , auto!important;
}


.divinstruccion
{
    position: absolute;
    width: 37%;
    text-align: left;   
    padding: 2%;
    left: 39%;
    top: 7%;
    background: rgba(255,255,255, 1.6);
    font-family: Roboto;
      border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 0px solid #000000;


}

.divinstruccionjuego
{
    position: absolute;
    width: 49%;
    text-align: left;
    background: rgba(255,255,255, 0.6);
    padding: 1%;
    left: 39%;
    top:5%;
    font-family: Roboto;
   border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    border: 0px solid #000000;
}

.divBotonComenzar
{
    width: 19%;
    bottom: 2%;
    right: 12%;
    cursor:url(../../../../Adicion-Sustraccion/images/hand.cur) , auto!important;

}


.divgeneral{
    width: 7%;
    height: 34px;
    z-index: 1;
    position: absolute;
     border-radius: 86%;
}



.iconoSonido
{
    left: 33%;
    top: 12%;
    z-index: 1;
    cursor:url(../../../../Adicion-Sustraccion/images/hand.cur) , auto!important;
}

.iconoSonido2
{
    left: 33%;
    top: 8%;
    z-index: 1;
    cursor:url(../../../../Adicion-Sustraccion/images/hand.cur) , auto!important;
}



.ivisonriendo
{
    width: 13%;
    left: 78%;
    top: 8%;
}

.mensaje{
       z-index: 1;
    position: absolute;
    top: 34%;
    right: 31%;

}

.respuesta
{
    display: block;
    top: 28%;
    width: 34%;
    left: 23%;
}

.respuestafin
{
    
    z-index: 1;
    position: absolute;
    width: 24%;
    right: 37%;
    bottom: 29%;
    cursor:url(../../../../Adicion-Sustraccion/images/hand.cur) , auto!important;
}


.resultados
{
    width: 49%;
    left: 36%;
    top: 26%;
}


.titulojuego
{
    width: 23%;
    left: 5%;
    top: 4%;
}


.vidas3
{
    width: 19%;
    top: 32%;
    left: 3%;
}

/*DISEÑO UNICO JUEGO*/

.cajacentenas1,.cajacentenas2,  .cajadecenas1, .cajadecenas2,  .cajaunidades1, .cajaunidades2
{
    position: absolute;    
    height: 55px !important;
    font-size: 43px !important;
    text-align: center;
    color: #000 !important;
    font-family: Chewy;
    width: 5%;
    border-color: #00ACC1 !important;
}

.cajacentenas1
{
    right: 35.3%;
    top: 45%;
}

.cajacentenas2
{
    right: 35.3%;
    top: 63%;

}
.cajacentenas3
{
    position: absolute;    
    height: 45px !important;
    font-size: 43px !important;
    text-align: center;
    color: #000 !important;
    font-family: Chewy;
    width: 5%;
    border:1px solid #00ACC1 !important;
    right: 35.3%;
    bottom: 8%;    
}

.cajadecenas1
{
    right: 25.5%;
    top: 45%;
}

.cajadecenas2
{
    right: 25.5%;
    top: 63%;
}

.cajadecenas3
{
    position: absolute;    
    height: 45px !important;
    font-size: 43px !important;
    text-align: center;
    color: #000 !important;
    font-family: Chewy;
    width: 5%;
     border:1px solid #00ACC1 !important;
    right: 25.5%;
    bottom: 8%;    
}

.cajaunidades1
{
    right: 15.8%;
    top: 45%;
}

.cajaunidades2
{
    right: 15.8%;
    top: 63%;
}
.cajaunidades3
{
    position: absolute;    
    height: 45px !important;
    font-size: 43px !important;
    text-align: center;
    color: #000 !important;
    font-family: Chewy;
    width: 5%;
    border:1px solid #00ACC1 !important;
    right: 15.8%;
    bottom: 8%;
}

.tabla
{
    width: 62%;
    left: 30%;
    top: 23%;
}